<div class="sidebar">
<!--   This section should be at the top -->
    <div class="section">
        <h2> Tableau de bord</h2>

        <div class="item" ><a href="{% url 'tab_budgets' %}">Tableaux Budgetaires</a></div>
        <div class="item"><a href="{% url 'goals_and_results' %}">Objectifs Résultats</a></div>
        <div class="item"><a href="{% url 'tresorie' %}">Plan Trésorerie</a></div>
        <div class="item"><a href="{% url 'event' %}">Suivi Evenement</a></div>
        <div class="item"><a href="{% url 'subventions' %}">Suivi Subvention</a></div>
        <div class="item"><a href="{% url 'volunteering' %}">Suivi Volontariat</a></div>
        <div class="item"><a href="{% url 'raffineurs' %}">Repertoire Raffineurs.ses</a></div>
        <div class="item">Tableau De Bord Perso</div>
        <div class="item">Documentation</div>
    </div>


        <div class="section">
            <div class="item">Parametres</div>
        </div>

</div>